xsd/nffgInfo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.example.org/nffgInfo" xmlns:tns="http://www.example.org/nffgInfo"
	elementFormDefault="qualified">
	<xsd:element name="nffgInfo" type="tns:NffgInfoType">
		<xsd:key name="nffgId">
			<xsd:selector xpath="nffgs/nffg" />
			<xsd:field xpath="@name" />
		</xsd:key>
		<xsd:keyref name="nffgReg" refer="tns:nodeId">
			<xsd:selector xpath="polycies/policy/nffg" />
			<xsd:field xpath="@name" />
		</xsd:keyref>
	</xsd:element>
	<xsd:complexType name="NffgInfoType">
		<xsd:sequence>
			<xsd:element name="nffgs">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="nffg" type="tns:nffgType"
							minOccurs="0" maxOccurs="unbounded">
							<xsd:key name="nodeId">
								<xsd:selector xpath="nodes/node" />
								<xsd:field xpath="@name" />
							</xsd:key>
							<xsd:keyref name="destRef" refer="tns:nodeId">
								<xsd:selector xpath="nodes/node/links/destinationNode" />
								<xsd:field xpath="@name" />
							</xsd:keyref>
							<xsd:keyref name="sourceRef" refer="tns:nodeId">
								<xsd:selector xpath="nodes/node/links/sourceNode" />
								<xsd:field xpath="@name" />
							</xsd:keyref>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="policies">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="policy" type="tns:policyType"
							minOccurs="0" maxOccurs="unbounded">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="nffgType">
		<xsd:complexContent>
			<xsd:extension base="tns:baseType">
				<xsd:sequence>
					<xsd:element name="updateTime" type="xsd:dateTime"
						minOccurs="1"></xsd:element>
					<xsd:element name="nodes">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="node" type="tns:nodeType"
									minOccurs="0" maxOccurs="unbounded">
								</xsd:element>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>

			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="nodeType">
		<xsd:complexContent>
			<xsd:extension base="tns:baseType">
				<xsd:sequence>
					<xsd:element name="funcType" type="tns:FunctionalType"></xsd:element>
					<xsd:element name="links">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="link" type="tns:linkType"
									minOccurs="0" maxOccurs="unbounded">
								</xsd:element>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="linkType">
		<xsd:complexContent>
			<xsd:extension base="tns:baseType">
				<xsd:sequence>
					<xsd:group ref="tns:sourcedest"></xsd:group>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="policyType">
		<xsd:complexContent>
			<xsd:extension base="tns:baseType">
				<xsd:sequence>
					<xsd:element name="nffg" type="tns:nffgType" minOccurs="1">
					</xsd:element>
				</xsd:sequence>
				<xsd:attribute name="positive" type="xsd:boolean" use="required"></xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="reachabilityPolicyType">
		<xsd:complexContent>
			<xsd:extension base="tns:policyType">
				<xsd:sequence>
					<xsd:group ref="tns:sourcedest"></xsd:group>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="TraversalPolicyType">
		<xsd:complexContent>
			<xsd:extension base="tns:reachabilityPolicyType">
				<xsd:sequence>
					<xsd:element name="traversedFunctionalTypes">
						<xsd:simpleType>
							<xsd:list itemType="tns:FunctionalType"></xsd:list>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="FunctionalType" final="restriction">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="FW"></xsd:enumeration>
			<xsd:enumeration value="DPI"></xsd:enumeration>
			<xsd:enumeration value="NAT"></xsd:enumeration>
			<xsd:enumeration value="SPAM"></xsd:enumeration>
			<xsd:enumeration value="CACHE"></xsd:enumeration>
			<xsd:enumeration value="VPN"></xsd:enumeration>
			<xsd:enumeration value="WEB_SERVER"></xsd:enumeration>
			<xsd:enumeration value="WEB_CLIENT"></xsd:enumeration>
			<xsd:enumeration value="MAIL_SERVER"></xsd:enumeration>
			<xsd:enumeration value="MAIL_CLIENT"></xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="baseType">
		<xsd:attribute name="name" type="xsd:string" use="required"></xsd:attribute>
	</xsd:complexType>
	<xsd:group name="sourcedest">
		<xsd:sequence>
			<xsd:element name="destinationNode" type="tns:nodeType"
				minOccurs="1">
			</xsd:element>
			<xsd:element name="sourceNode" type="tns:nodeType"
				minOccurs="1">
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
</xsd:schema>